fastapi
uvicorn[standard]
httpx
python-dotenv
pydantic
SQLAlchemy
databases
asyncpg
alembic
spaCy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
requests
openai
sentence-transformers
python-multipart
psycopg2-binary
pydantic-settings
groq